@import url('https://fonts.googleapis.com/css?family=Staatliches');
* {
	box-sizing: border-box;
	}
	
body {
    background-color: lightblue;
	text-align: center;
	}
	

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: purple;
  padding: 8px 16px;
  text-decoration: none;
  
}

li a.active {
  background-color: #4CAF50;
  color: black;
}

li a:hover:not(.active) {
  background-color: lightblue;
  color: blue;
}



h1 {
font-size: 45px;
font-family: 'Staatliches', cursive;
}
.center {
text-align: centre;
}

p {
font-size: 25px;
font-family: 'Staatliches', cursive;
}

li {
font-size: 15px;
font-family: 'Staatliches', cursive;
}



.dropbtn {
  color: purple;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: purple;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: lightblue}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: lightblue;
}

.dropbtn {
font-size: 15px;
font-family: 'Staatliches', cursive;
}


.dropdown-content {
font-size: 15px;
font-family: 'Staatliches', cursive;
}